body {
	margin: 0;
	padding: 0;
	display: flex;
  flex-direction: column;
}

.container {
	width: 1200px;
	margin:0 auto;
}

.flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.flex2 {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#header {
	height: 100px;
    background-color: rgba(57,62,70,255);
}

.logo img{
	height: 90px;
    width: 140px;
}


.menu ul li{
	display: inline;
	padding: 15px;
	font-family:Consolas;
	border-left: 1px solid rgb(255, 255, 255);
	color: rgb(255, 255, 255);
}

.menu ul a {
	text-decoration: none;
}

.menu ul li:hover {
	background-color: black;
    color: white;
	text-decoration: none;
}

.menu ul li.selected {
	background-color: black;
	color: white;
}

#content {
    margin: 0;
    background-size: cover;
	background-repeat: no-repeat;
    animation: animate 23s ease infinite running none;
	min-height: 100%;
    height: auto !important;
    height: 100%; 
	background-color: #6e6e9f;
}

.content-main {
	float: left;
	margin-bottom: 200px;
	width: 69%;
	border-radius: 15px;
	box-shadow: 0 0px 15px 0px rgba(0, 0, 0, 0.1);
	background-color: white;
    margin-top: 25px;
    opacity: 40%;
}
.content-main:hover{
    opacity: 70%;
}

.hije-top {
	width: 100%;
	height: 40px;
	background-image: linear-gradient(#75b07c, #fafafa);
}

.content-main h1 {
	font-family:Consolas;
	color: #44424b;
	font-size: 25px;
	padding: 0 0 0 20px;
}

.content-main p {
	padding: 0 20px 20px 20px;
}

.info-cont {
	background-color: white;
	margin: 0px 25px 30px 25px;
	width: 250px;
	height: 125px;
	justify-content: space-around;
	color: #282f3a;
}

.info-cont div p {
	text-align: center;
	font-family: Arial;
	margin: 5px;
	margin-left: -50px;
}

.right-sidebar {
	float: right;
	box-shadow: 0 0px 15px 0px rgba(0, 0, 0, 0.1);
	background-color: rgb(250, 255, 255);
	width: 337px;
	height: 966px;
    margin-top: 25px;
    opacity: 40%;
}
.right-sidebar:hover{
    opacity: 100%;
}

.right-sidebar h1 {
	font-family:Consolas;
	color: #44424b;
	text-align: center;
}

.main-info{
	padding-bottom: 40px;
	height: auto;
 	overflow: hidden;
  	text-overflow: ellipsis;
      background-color: rgb(255, 255, 255);
}
.main-info1{
	padding-bottom: 40px;
	height: auto;
 	overflow: hidden;
  	text-overflow: ellipsis;
      background-color: rgb(255, 255, 255);
}
.main-info2{
	padding-bottom: 40px;
	height: auto;
 	overflow: hidden;
  	text-overflow: ellipsis;
      background-color: rgb(255, 255, 255);
}
.main-info3{
	padding-bottom: 40px;
	height: auto;
 	overflow: hidden;
  	text-overflow: ellipsis;
      background-color: rgb(255, 255, 255);
}

.main-info-border {
	border-bottom: 25px solid lightgray;
}

.main-info a:link {
	text-decoration: none;
	color: white;
}
.main-info a:hover {
	box-shadow: 0 0px 15px 0px rgba(21, 167, 167, 0.8);
}
.main-info a:selected {
	color: white;
}
.main-info a:visited {
	color: white;
}
.main-info a:active {
	color: white;
}

.main-info-button {
	position: absolute;
	padding: 5px;
	margin-top: -20px;
	margin-left: 20px;
	height: 30px;
	background-color: #15a7a7;
	font-family:Consolas;
}
@keyframes animate{
    0%,100%{
    background-image:url("../img/Natyra1.jpg");
    }
    20%{
    background-image:url("../img/Natyra2.jpg");
    }
    40%{
        background-image:url("../img/natyra3.jpg");
	}
	60%{
		background-image: url("../img/natyra4.jpg");
	}
    80%{
        background-image:url("../img/natyra5.jpg");
    }
}

*,
*:before,
*:after {
	box-sizing: border-box;
}


img,
video {
	max-width: 100%;
	height: auto;
}

.audio-player {
	position: relative;
	width: 100%;
	height: 0;
	text-align: center;
	padding-bottom: 100%;
	background-color: #7726e4;
}

.audio-player video {
	opacity: 0;
	transition: opacity 300ms;
	will-change: opacity;
}

.audio-player:focus .audio-player__cover,
.audio-player:hover .audio-player__cover,
.audio-player.is-playing .audio-player__cover {
	opacity: 0.35;
}

.audio-player:focus .audio-player__title,
.audio-player:hover .audio-player__title,
.audio-player.is-playing .audio-player__title {
	opacity: 1;
	transform: translateY(0);
}

.audio-player:focus .audio-player__control-icon,
.audio-player:hover .audio-player__control-icon,
.audio-player.is-playing .audio-player__control-icon {
	transform: scale(1.15);
}

.audio-player.is-playing .audio-player__cover {
	opacity: 0;
}

.audio-player.is-playing video {
	opacity: 1;
}

.audio-player.is-playing .audio-player__control-icon:before {
	transform: translateY(0);
}

.audio-player.is-playing .audio-player__control-icon:after {
	transform: translateY(50px);
}

.audio-player__cover {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	transition: opacity 350ms;
	will-change: opacity;
}

.audio-player__title {
	position: absolute;
	color: #fff;
	font-size: 22px;
	font-weight: 500;
	left: 10px;
	right: 10px;
	bottom: 0;
	top: 50%;
	padding-top: 50px;
	transform: translateY(-5%);
	z-index: 10;
	opacity: 0;
	transition: all 300ms;
	will-change: transform, opacity;
}

.audio-player__control {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 20;
	border: none;
	background: none;
	cursor: pointer;
}

.audio-player__control:focus {
	outline: none;
}

.audio-player__control-icon {
	position: absolute;
	width: 65px;
	height: 65px;
	border-radius: 50%;
	border: 3px solid #fff;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	overflow: hidden;
	transition: all 250ms ease-out;
	transform: scale(1);
	will-change: transform;
}

.audio-player__control-icon::after,
.audio-player__control-icon::before {
	transition: all 200ms;
	will-change: transform;
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	margin: auto;
}

.audio-player__control-icon::after {
	left: 5px;
	width: 0;
	height: 0;
	border-top: 16px solid transparent;
	border-bottom: 16px solid transparent;
	border-left: 20px solid #fff;
	transform: translateY(0);
}

.audio-player__control-icon::before {
	width: 15px;
	height: 30px;
	border-right: 6px solid #fff;
	border-left: 6px solid #fff;
	transform: translateY(-50px);
}

.audio-players {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

.audio-players li {
	display: inline-block;
	vertical-align: top;
	max-width: 300px;
	margin: 20px;
}